:root {
    --while-color: #fff;
    --black-color: #000;
    --text-color: #434f53;
    --primary-color: #47d3a0;
    --active--color: #333;
    --header-height: 100px;
    --slide-height: 846px
}


* {
    padding: 0;
    margin: 0;
}

html {
    min-width: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    position: relative;
    overflow-x: hidden;
}


.active-item {
    color: var(--active--color) !important;
}

.flex--nonWrap {
    flex-wrap: nowrap;
}

.page-cell {
    padding: 0;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  @keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }


@media (max-width: 575px) {
    .col-sm-12 {
        padding: 0;
    }

    .section-slide__img {
        height: 390px;
    }

    .section-slide__content {
        text-align: center;
    }

    .section-slide__img div {
        top: 70% !important;
    }

    .section-slide__content-text {
        margin:0;
        padding: 0;
    }

    .section-slide__content-heading {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 0;
    }
    .section-slide__content-description {
        display: contents;
        font-size: 12px;
    }

    .section-slide__content-btn {
        position: relative;
        margin-top: 24px;
        padding: 10px 32px;
    }

    .section-news {
        padding: 95px 24px;
    } 

    .section-announcements {
        padding: 95px 24px;
    }

    .footer-info {
        padding: 95px 24px;
    }

    .header__nav-home-band {
        display: none;
    }

    .header__nav-home {
        padding-left: 16px;
    }

    .header__nav-menu {
        position: fixed;
        background-color: #fff;
        top: var(--header-height);
        left: 0;
        right: 0;
        animation: show ease-in-out 0.5s;
    }

    .header__nav-menu-list>li:nth-child(5) {
        order: 1;
    }

    .header__nav-menu-list>li:nth-child(1) {
        order: 2;
    }

    .header__nav-menu-list>li:nth-child(2) {
        order: 3;
    }

    .header__nav-menu-list>li:nth-child(3) {
        order: 4;
    }

    .header__nav-menu-list>li:nth-child(4) {
        order: 5;
    }
    
    .nav-item .nav-link{
        padding: 16px;
    }


    .hoverdrop-menu {
        position: unset;
        /* display: flex; */
        border: none;
        box-shadow: none;
        background-color: #f5f5f5;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-12 {
        padding: 0;
    }
    
    .section-slide__img {
        height: 260px;
    }

    .section-slide__content-text {
        text-align: right;
        margin:0;
        padding: 0;
    }

    .section-slide__content-heading {
        font-size: 24px;
    }
    .section-slide__content-description {
        display: contents;
        font-size: 12px;
    }

    .section-slide__content-btn {
        position: relative;
        margin-top: 24px;
        padding: 10px 32px;
    }

    .section-news {
        padding: 95px 46px;
    } 

    .section-announcements {
        padding: 95px 46px;
    }
    .footer-info {
        padding: 95px 46px;
    }

    .header__nav-home {
        display: flex;
        justify-content: space-between;
        padding: 0 46px;
    }

    .header__nav-menu {
        position: fixed;
        background-color: #fff;
        top: var(--header-height);
        left: 0;
        right: 0;
        animation: show ease-in-out 0.5s;
    }

    .header__nav-menu-list>li:nth-child(5) {
        order: 1;
    }

    .header__nav-menu-list>li:nth-child(1) {
        order: 2;
    }

    .header__nav-menu-list>li:nth-child(2) {
        order: 3;
    }

    .header__nav-menu-list>li:nth-child(3) {
        order: 4;
    }

    .header__nav-menu-list>li:nth-child(4) {
        order: 5;
    }
    
    .nav-item .nav-link{
        padding: 16px;
    }


    .hoverdrop-menu {
        position: unset;
        /* display: flex; */
        border: none;
        box-shadow: none;
        background-color: #f5f5f5;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .col-md-12 {
        padding: 0;
    }
    .section-slide__img {
        height: 335px;
    }

    .section-slide__content-text {
        text-align: center;
        margin:0;
        padding: 0;
    }

    .section-slide__content-heading {
        font-size: 30px;
    }
    .section-slide__content-description {
        display: contents;
        font-size: 14px;
    }

    .section-slide__content-btn {
        position: relative;
        margin-top: 24px;
        right: 50%;
        transform: translateX(50%);
    }

    .section-news {
        padding: 95px 46px;
    }

    .section-announcements {
        padding: 95px 46px;
    }

    .header__nav-home {
        display: flex;
        justify-content: space-between;
        padding: 0 46px;
    }

    .header__nav-menu {
        position: fixed;
        background-color: #fff;
        top: var(--header-height);
        left: 0;
        right: 0;
        animation: show ease-in-out 0.5s;
    }

    .header__nav-menu-list>li:nth-child(5) {
        order: 1;
    }

    .header__nav-menu-list>li:nth-child(1) {
        order: 2;
    }

    .header__nav-menu-list>li:nth-child(2) {
        order: 3;
    }

    .header__nav-menu-list>li:nth-child(3) {
        order: 4;
    }

    .header__nav-menu-list>li:nth-child(4) {
        order: 5;
    }
    
    .nav-item .nav-link{
        padding: 16px;
    }


    .hoverdrop-menu {
        position: unset;
        /* display: flex; */
        border: none;
        box-shadow: none;
        background-color: #f5f5f5;
    }

}


@media (min-width: 992px) and (max-width: 1199px) {

    .col-lg-12 {
        padding: 0;
    }
    .section-slide__img {
        height: 449px;
    }

    .section-slide__content-text {
        text-align: right;
        margin:0;
        padding: 0;
    }
    .section-slide__content-description {
        display: contents;
    }

    .section-slide__content-btn {
        margin-top: 24px;
    }

    .section-news {
        padding: 0 46px;
    }

    .section-announcements {
        padding: 95px 46px;
    }

    .header__nav {
        padding: 0 46px;
    }

    .header__nav-home-band {
        font-size: 24px;
    }

    

}

@media (min-width: 1200px) {
    .col-xl-12 {
        padding: 0;
    }
    .section-slide__content-heading {
        font-size: 50px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.4;
        color: #333;
        padding-bottom: 32px;
    }

    .section-slide__content-text {
        text-align: right;
        margin:0;
        padding: 0;
    }
    .section-slide__content-description {
        font-weight: 300px;
        font-style: normal;
        font-size: 16px;
        line-height: 1.8px;
        letter-spacing: 0;
        padding-bottom: 42px;
    }

    .section-slide__content-btn {
        background-color: var(--primary-color);
        color: #fff;
        font-weight: 600;
        padding: 16px 32px;
        border-radius: 30px;
        float: right;
    }

    .section-news {
        padding: 95px 0;
    }
}



