<footer class="footer">
    <div class="footer-info">
      <div class="info__wrap container-fluid">
        <div class="row">
          <div class="info__item col-sm-5">
            <div class="info__item-logo">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="info__item-text">
              137 Nguyễn Thị Thập, Thanh Khê Tây, Liên Chiểu, Đà
Nẵng.
            </div>
          </div>

          <div class="info__item col-sm-5 offset-sm-2">
            <div class="info__item-logo">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="info__item-text">
              <span>0234.444.555</span>
              <p>
                Liên hệ 7 ngày trong tuần theo giờ hành chính
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
    <div class="container-fluid">
      <p class="footer__text">Training Online @ 2022. <span>Privacy Policy</span></p>
    </div>
  </footer>